@media (max-width: 991px) {
  ul.nav-list {
    background-color: #232020f2 !important;
    padding: 15px;
  }
  
  .search-btn {
    display: none !important;
  }

  .searchIcon {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .top-header-h6 {
    display: none !important;
  }
}

.top-header {
  position: relative;
}

.top-btn-header {
  width: 120px !important;
  height: 35px;
  font-size: small;
  color: rgb(32, 32, 32);
  background-color: #ddd;
}

.top-header-h6 {
  font-size: small;
  position: absolute;
  left: 0;
  top: -25px;
  z-index: 2;
  background-color: #dddddd69 !important;
}

.top-header-link {
  color: maroon !important;
}

.userIcon {
  background-color: #ddd;
  border-radius: 50%;
}

.top-header-right {
  position: absolute;
  right: 5px;
  top: -30px;
  z-index: 2;
}

.navbar-collapse{
  position: absolute !important;
  top: 50px;
  right: .5px;
  z-index: 10 !important;
}

.search-form {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  color: #ddd !important;
}

.LogoIconImg{
  background-color: #dddddd11 !important;
}

.navbar-brand {
  color: rgb(255, 123, 0) !important
}

.searchIcon {
  background-color: #ddddddc2 !important;
}

.search-btn {
  color: #ddddddc2 !important;
}

.nav-link {
  color: #dddddddc !important; ;
}

.active {
  color: rgb(255, 123, 0) !important
}

.search-btn:hover, .nav-link:hover , .nav-link:active, .search-btn:focus, .nav-link:focus , .nav-link:focus  {
  color: rgb(255, 123, 0) !important

}

.navbar-toggler-icon {
  filter: invert(56%) sepia(88%) saturate(3946%) hue-rotate(352deg) brightness(101%) contrast(106%) !important;
}

/* remove border of toggler */
.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* to ensure that no border when i click */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}