
.premium-section {
  height: 600px;
  background: url('../../../assets/img/Categories/Tons/manFashionFixed.jpg');
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.premium-section::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.premiumContainer {
  width: 40%;
  text-align: center;
  position: absolute;
  left: 8px;
  top: 15%;
  z-index: 4;
}

.premiumContainer h2 {
  color: tomato;
}

@media (max-width: 586px) {
  .premiumContainer {
    width: 90%;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  .premiumContainerText {
    display: none;
  }
}

#premium-shop-btn {
  background-color: tomato !important;
  border: none !important;
}

#premium-shop-btn:hover {
  background-color: rgb(209, 35, 4) !important;
}