.img-section{
    width: 300px !important;
    height: 300px !important;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #1b1b1b;
    left: 0px;
    top: 0px;
    position: relative;
    z-index: 0;
}

.img-section-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-section::after{
    content: '';
    position: absolute;
    width: 100%;   
    height: 100%;  
    background-color: rgba(116, 114, 114, 0.589);
    left: -15px;   
    top: -15px;
    border-radius: 50%;
    z-index: -1;  
}

@media (max-width: 650px) {
    .top-positive{
        font-size: small;
    }
}

@media (min-width: 650px) and (max-width: 991px) {
    .img-section {
        width: 150px !important;
        height: 150px !important;
        border-radius: 0px !important;
        box-shadow: 1px 2px 14px rgb(19, 17, 17) ;
    }

    .img-section-img {
        border-radius: 0px !important;
    }

    .top-positive{
        font-size: small;
    }

    .img-section::after {
        border-radius: 0;
    }
}

.WhyFashion-title{
    color: rgb(255, 123, 0) !important
}