.pic {
    flex-shrink: 0 !important;
    cursor: pointer;
}

.secondary-pics{
    width: 90% !important;
    height: 35% !important;
    margin: 4px 4px;
}


@media (max-width: 768px) {
    .cardCarousel {
        height: 500px !important;
    }
    .bigImg-container {
        height: 60% !important;
    }

    .small-Img-container {
        height: 40% !important;
    }

    .secondary-pics {
        height: 90% !important;
    }

    .secondary-pics img{
        object-fit: cover !important;
        height: 100% !important;
        margin: 3px 3px;
    }
}

.Carousel-cards-title {
    color: rgb(255, 123, 0) !important    
}

.container{
    position: relative;
}

.card-container{
    z-index: 0;
}

.arrow-left img, .arrow-right img{
    width: 1.5em !important;
    height: 1.5em !important;
    border: 1px solid #858484;
    border-radius: 50%;
}

.arrow-left img{
    position: absolute;
    left: -15px;
    top: 48%;
    z-index: 2;
}

.arrow-right img{
    position: absolute;
    right: -15px;
    top: 48%;
    z-index: 2;
}

@media (max-width: 575px) {
    .arrow-right img {
        right: 10px; 
        top: 40%;   
    }

    .arrow-left img  {
        left: 10px;
        top: 40%;
    }
}

.arrow-left:hover, .arrow-right img:hover {
    cursor: pointer !important;
}

.card {
    overflow: hidden;
}
.card img{
    transform: scale(1);
}

.card img:hover{
    transform: scale(1.5);
    transition: .6s ease-in-out;
}