.pic {
    flex-shrink: 0 !important;
    cursor: pointer;
}

.bigImg-container {
    height: 100% !important;
    overflow: hidden !important;
}

.bigImg-container img{
    object-fit: cover!important;
}

.small-Img-container {
    height: 100% !important;
    object-fit: cover!important;
}

.small-Img-container .secondary-pics {
    min-height: 30% !important;
}

@media (max-width: 767px) {
    .cardCarousel {
        height: 500px !important;
    }
    .bigImg-container {
        overflow: hidden !important;
        max-height: 60% !important;
        margin: 4px;
    }


    .secondary-pics {
        height: 100% !important;
        width: 165px !important;
    }


    .secondary-pics img{
        object-fit: cover !important;
        height: 160px !important;
        margin: 3px;
    }
}

.Carousel-cards-title {
    color: rgb(255, 123, 0) !important    
}

.container{
    position: relative;
}

.card-container{
    z-index: 0;
}

.arrow-left img, .arrow-right img{
    width: 1.5em !important;
    height: 1.5em !important;
    border: 1px solid #858484;
    border-radius: 50%;
}

.arrow-left img{
    position: absolute;
    left: -15px;
    top: 48%;
    z-index: 2;
}

.arrow-right img{
    position: absolute;
    right: -15px;
    top: 48%;
    z-index: 2;
}

@media (max-width: 575px) {
    .arrow-right img {
        right: 10px; 
        top: 40%;   
    }

    .arrow-left img  {
        left: 10px;
        top: 40%;
    }
}

.arrow-left:hover, .arrow-right img:hover {
    cursor: pointer !important;
}

.card {
    overflow: hidden;
}
.card img{
    transform: scale(1);
}

.card img:hover{
    transform: scale(1.2);
    transition: .3s ease-in-out;
}