#sale{
    height: 48vh;
}

.sale-h2 {
    color: rgb(255, 123, 0) !important
}

#sale-h2 {
    position: relative !important;
}

#sale-img {
    position: absolute !important;
    right: 40px;
}

#sale-img-left {
    position: absolute !important;
    left: 0;
}

@media (max-width:767px) {
    #sale-img, #sale-img-left {
        /* display: none; */
        width: 50px;
        height: 130px;
    }
    #sale-img {
        top: -10px;
    }

    #sale-img-left {
        top: 55px;
    }

    #sale {
        height: 25vh;
    }
}