
@media (max-width: 540px) {
    .apps-container {
        display: block !important;    
        text-align: center; 
        flex-wrap: wrap;         
    }

    .google, 
    .apple, 
    .huawei {
        display: block !important;
        width: 80% !important;      
        margin-bottom: 20px;           
    }

    .google img,
    .apple img,
    .huawei img {
        width: 35% !important;
    }
}

.ourApps-title{
    color: rgb(255, 123, 0) !important
}