
.quote-box {
  background-color: #211f1e;
  color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  height: 200px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-box::after {
  content: "";
  position: absolute;
  bottom: -12px; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 12px 12px 0;
  border-style: solid;
  border-color: #211f1e transparent transparent;
}


.quote-box i, .customer-title {
  color: #f57c00;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.customer-info {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  }
  
  .user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 3px solid #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  inline-size: 220px !important;
  max-inline-size: 100% !important;
  aspect-ratio: 1 !important;
}

.carousel-indicators [button] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  border: none;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #f57c00; 
}


.testimonial-card:hover .quote-box  {
  transform: translateY(15px);
  transition: transform 0.3s ease;
  background-color: #bbb;
  color: #211f1e;
  cursor: pointer;
}